*{
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 { text-align: center
    padding: 20px;

}

section { 
    background-color: #9C9999;
    border: 3px solid black;
    margin: 10px;
 }