*{
    box-sizing: border-box;
}

h1 { padding: 20px;
    font-family: 'Sriracha', cursive;
   /* font-size: 1.75em; */
 }

 p{
    padding: 30px 10px 10px 10px
 }

section { 
    background-color: #9C9999;
    border: 1px solid black;
    margin: 10px;
 }

h2 {
    /* font-size: 1.2em; */
    font-family: 'Sriracha', cursive;
    float: right;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    margin: 0;
 }

h2.chicken {
    background-color: #D59898;
 }

h2.beef { 
    background-color: #C14543;
    color: white;
 }

h2.sushi {
    background-color: #E5D198;
 }


.center {
    text-align: center;
}


/*DESKTOP*/

@media (min-width: 992px) {
    .col-lg-1{
        float: left;
        width: 33.33%;
    }
}


/*TABLET*/

@media (min-width: 768px) and (max-width:991px){
    .col-md-1{
        float: left;
        width: 50%;
    }

    .col-md-2{
        float:left;
        width: 100%;
    }

/*MOBILE*/

@media (max-width: 767px) {
    .col-sm-1{
        float: left;
        width: 100%;
    }
}
